.contenedor {
    width: 70vw;
    margin: auto;
    background: rgb(153,73,146);
    background: linear-gradient(163deg, rgba(153,73,146,1) 0%, rgba(79,73,148,1) 100%);
    border-radius: 9px;
    overflow: hidden;
    border: 0.3vw solid #2C2359;
}

.formContenedor{
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0.5vw 1vw;
    padding: 1vw;
    border-radius: 9px;
}

.mal {
    color: #F7931E;
    font-size: 1.1vw;
}

.mal svg{
    height: 0.9vw;
}

.formLabel{
    color: #ffffff;
    font-size: 2vw;
}

.formIco{
    background-color: #2C2359;
    border: none;
    height: 3vw;
}

.formIco svg{
    height: 1.6vw;
}

.formInput{
    border: 0.15vw solid #2C2359;
    border-radius: 9px;
    height: 3vw;
    font-size: 1vw;
}

.espacio{
    height: 2vw;
}

@keyframes rotate-animation {
    0% {
      transform: rotate(0) translate(0, 0);
    }
    50% {
      transform: rotate(28deg) translate(12%, -14%);
    }
    100% {
        transform: rotate(0) translate(0, 0);
    }
  }

  #mano {
    animation: rotate-animation 2s infinite;
  }

@font-face {
    font-family: 'HelveticaLTStd-BoldCondensed';
    src: url(../font/HelveticaLTStd-BoldCond.otf);
}
@font-face {
    font-family: 'HelveticaLTStd-Condensed';
    src: url(../font/HelveticaLTStd-Cond.otf);
}
@font-face {
    font-family: 'poppins-black';
    src: url(../font/Poppins-Black.otf);
}

.mal, .formLabel {
    font-family: 'HelveticaLTStd-BoldCondensed', sans-serif;
}

.obligatorio {
    color: #ffffff;
    display: block;
    width: 100%;
    border-left: 0.15vw solid #ffffff;
    font-family: 'HelveticaLTStd-BoldCondensed', sans-serif;
    font-size: 0.9vw;
}

.txtInstruccion {
    color: #ffffff;
    display: block;
    width: 100%;
    border-left: 0.15vw solid #ffffff;
    font-family: 'HelveticaLTStd-Condensed', sans-serif;
    font-size: 1.3vw;
    padding-left: 1.3vw;
    line-height: 1.2;
}

.txtInstruccion2 {
    color: #ffffff;
    display: block;
    width: 100%;
    font-family: 'HelveticaLTStd-Condensed', sans-serif;
    font-size: 1.3vw;
    line-height: 1.2;
}

.btnNext{
    background-color: #90BD1F;
    color: #ffffff;
    padding: 0.3vw;
    text-align: center;
    border: 0.3vw solid #77932B;
    border-radius: 5px;
    font-family: 'poppins-black', sans-serif;
    font-size: 1.1vw;
}

.btnSub{
    background-color: #F7931E;
    color: #ffffff;
    padding: 0.5vw 0.3vw;
    text-align: center;
    border: 0.3vw solid #F9A94B;
    border-radius: 5px;
    font-family: 'poppins-black', sans-serif;
    font-size: 1.1vw;
}

.btnSub svg{
    width: 2vw;
}

.txtTituloSeccion {
    font-family: 'poppins-black', sans-serif;
    color:#ffffff;
    font-size: 2.3vw;
    letter-spacing: 0.2vw;
    text-shadow: 0.3vw 0vw 0vw #2C2359;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:    "titulo correo"
                            "codigo codigo"
                            "datos datos"
                            "telefono telefono"
                            "institucion institucion"
                            "asesor asesor"
                            "cursos cursos";
}

#titulo{
    grid-area: titulo;
}

#correo{
    grid-area: correo;
}

#codigo{
    grid-area: codigo;
}

#datos{
    grid-area: datos;
}

#telefono{
    grid-area: telefono;
}

#institucion{
    grid-area: institucion;
}

#asesor{
    grid-area: asesor;
}

#cursosVinculados{
    grid-area: cursos;
}

#particles-js {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.contenedor {
    position: relative;
    z-index: 2;
    top: 5vw;
}

.telImg svg{
    width: 100%;
}

.btnNext svg{
    width: 2vw;
}

@media (max-width: 900px) {
    .contenedor {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .contenedor {
        width: 85vw;
    }
    .formulario {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:    "titulo"
                                "correo"
                                "codigo"
                                "datos"
                                "telefono"
                                "institucion"
                                "asesor"
                                "cursos";
    }
}

@media (max-width: 575px) {
    .contenedor {
        width: 100vw;
    }

    .telImg svg{
        display:none;
    }

    .texturaXO svg{
        display:none;
    }

    .contenedor {
        top: 0vw;
    }

    .txtInstruccion{
        margin-top: 2vw;
    }

    .formLabel{
        margin-top: 1vw;
    }
}