.contenedor {
    width: 70vw;
    margin: auto;
    border-radius: 9px;
    overflow: hidden;
}

.contenedor_2 {
    border-radius: 9px;
}

.formContenedor{
    margin: 0.5vw 1vw;
    padding: 1vw;
    border-radius: 9px;
}

.mal {
    font-size: 1.1vw;
}

.mal svg{
    height: 0.9vw;
}

.formLabel{
    font-size: 2vw;
}

.formIco{
    border: none;
    height: 3vw;
}

.formIco svg{
    height: 1.6vw;
}

.formInput{
    border-radius: 9px;
    height: 3vw;
    font-size: 1vw;
}

.espacio{
    height: 2vw;
}

@font-face {
    font-family: 'HelveticaLTStd-BoldCondensed';
    src: url(../font/HelveticaLTStd-BoldCond.otf);
}
@font-face {
    font-family: 'HelveticaLTStd-Condensed';
    src: url(../font/HelveticaLTStd-Cond.otf);
}
@font-face {
    font-family: 'poppins-black';
    src: url(../font/Poppins-Black.otf);
}

.mal, .formLabel {
    font-family: 'HelveticaLTStd-BoldCondensed', sans-serif;
}

.obligatorio { 
    display: block;
    width: 100%;
    font-family: 'HelveticaLTStd-BoldCondensed', sans-serif;
    font-size: 0.9vw;
}

.txtInstruccion {
    display: block;
    width: 100%;
    font-family: 'HelveticaLTStd-Condensed', sans-serif;
    font-size: 1.3vw;
    padding-left: 1.3vw;
    line-height: 1.2;
}

.txtInstruccion2 {
    display: block;
    width: 100%;
    font-family: 'HelveticaLTStd-Condensed', sans-serif;
    font-size: 1.3vw;
    line-height: 1.2;
}

.btnNext{
    padding: 0.3vw;
    text-align: center;
    border-radius: 5px;
    font-family: 'poppins-black', sans-serif;
    font-size: 1.1vw;
}

.btnSub{
    padding: 0.5vw 0.3vw;
    text-align: center; 
    border-radius: 5px;
    font-family: 'poppins-black', sans-serif;
    font-size: 1.1vw;
}

.btnCerrar{
    padding: 0.3vw;
    text-align: center;
    border-radius: 5px;
    font-family: 'poppins-black', sans-serif;
    font-size: 1.1vw;
}

.advertenciaImg img{
    width: 50%;
}

.btnSub svg{
    width: 2vw;
}

.txtTituloSeccion {
    font-family: 'poppins-black', sans-serif;
    font-size: 2.3vw;
    letter-spacing: 0.2vw;
}

#particles-js {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.contenedor {
    position: relative;
    z-index: 2;
    top: 5vw;
}

.telImg svg{
    width: 100%;
}

.btnNext svg{
    width: 2vw;
}

@media (max-width: 900px) {
    .contenedor {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .contenedor {
        width: 85vw;
    }
}

@media (max-width: 575px) {
    .contenedor {
        width: 100vw;
    }

    .telImg svg{
        display:none;
    }

    .texturaXO svg{
        display:none;
    }

    .contenedor {
        top: 0vw;
    }

    .txtInstruccion{
        margin-top: 2vw;
    }

    .formLabel{
        margin-top: 1vw;
    }
}